body{
       background-color: maroon;
}
img{
        height: 100px;
        width: 200px;
        padding-left: 550px; 
}
h1{

  text-align: center;
color: white;
}
div{
  size: 0cap;
  padding-left: 550px;
  inline-size: auto;
}
li{
  display: block;
  display: inline-block;
  inset-inline: 50px;
  text-justify: distribute-all-lines;
  margin-left: 250px;
  
}
li:hover{
  color: black;
  h2{
    text-decoration-color: white;
    display: inline-block;
  }
}




